@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    primary-color:#60A5FA
}
body{
    font-family: 'Montserrat',sans-serif;
}

.container {
 padding-left: 1rem;
 padding-right: 1rem;
}
.center-container{
    max-width: 600px;
    margin: auto;
}
.link{
    padding:0.5rem 1rem;
    text-decoration: none;
}
.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}
.secondary-link{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
}