@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    primary-color:#60A5FA
}
body{
    font-family: 'Montserrat',sans-serif;
}

.container {
 padding-left: 1rem;
 padding-right: 1rem;
}
.center-container{
    max-width: 600px;
    margin: auto;
}
.link{
   text-decoration: none;
   padding: 0.5rem 1rem;
}
.link-primary{
    background-color:#60A5FA;
    border-radius: 0.5rem;
    color:white;

    
}
.link-secondary{
    color:#60A5FA;
    border-radius: 0.5rem;
    border:1px solid #60A5FA;
}
.list-non-bullet{
    list-style: none;

}
.inline-items{
    display: inline;
    padding: 0rem 0.5rem;
}
.navi{
    background-color: #60A5FA;
    padding:1rem;
    border-bottom-left-radius: 1rem;
}
.navigation{
    color:white;
}
.navi-inline-items{
 display: inline;

 
 padding: 1rem 2rem; 
}
.navi-link{
    color:white;
    text-decoration: none;
}
.navi-list-non-bullet{
    
    list-style: none;
}
.navigation .active{
    font-weight: bold;
}