@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    primary-color:#60A5FA
}
body{
    font-family: 'Montserrat',sans-serif;
}

.container {
 padding-left: 1rem;
 padding-right: 1rem;
}
.center-container{
    max-width: 600px;
    margin: auto;
}
.link{
   text-decoration: none;
   padding: 0.5rem 1rem;
}
.link-primary{
    background-color:#60A5FA;
    border-radius: 0.5rem;
    color:white;
    padding: 0.5rem 1rem;

    
}
.link-secondary{
    color:#60A5FA;
    border-radius: 0.5rem;
    border:1px solid #60A5FA;
    background-color: white;
}
.list-non-bullet{
    list-style: none;

}
.inline-items{
    display: inline;
    padding: 0rem 0.5rem;
}
.navi{
    background-color: #60A5FA;
    padding:1rem;
    border-bottom-left-radius: 1rem;
}
.navigation{
    color:white;
    font-weight: bold;
}
.navi-inline-items{
 display: inline;

 
 padding: 1rem 2rem; 
}
.navi-link{
    color:white;
    text-decoration: none;
}
.navi-list-non-bullet{
    text-align: right;
    list-style: none;
}
.navi-list-non-bullet .active{
    font-weight: bold;
}
.hero{
    padding=2rem;
}
.hero .hero-img{
    max-width: 350px;
    display: block;
    margin:auto;  
    padding-top: 4rem;
}
.hero .hero-heading{
    font-size: xx-large;
    padding-top: 1rem;
    color:#6B7280;
    text-align: center;
    
}
.hero .hero-heading .name{
    color:#60A5FA;
}
.section{
    padding: 2rem;
}
.section h3{
    text-align: center;
  
}
.section .ow{
background-color: #6B7280;
}
.footer{
    background-color: #60A5FA;
padding:2rem 1rem;
text-align: center;
color: white;
border-top-right-radius: 1rem;
}
.social{
    text-decoration: none;
    color:white;
}